[Unit]
Description=Gunicorn instance for testing flask app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/testapp
ExecStart=<gunicorn> -b localhost:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
